<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>bootstrap???</h1>
            <h2>project</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <app-header></app-header>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <app-shopping-list></app-shopping-list>
            <app-shopping-edit></app-shopping-edit>
        </div>
        <div class="col-xs-6">
            <app-recipe-list>

            </app-recipe-list>
            <app-recipe-item></app-recipe-item>
            <app-recipe-detail></app-recipe-detail>
        </div>
    </div>
</div>
